export WA_SHOPPING="http://<your-server-hostname>:7770/"
export WA_SHOPPING_ADMIN="http://<your-server-hostname>:7780/admin"
export WA_REDDIT="http://<your-server-hostname>:9999"
export WA_GITLAB="http://<your-server-hostname>:8023"
export WA_WIKIPEDIA="http://<your-server-hostname>:8888/wikipedia_en_all_maxi_2022-05/A/User:The_other_Kiwix_guy/Landing"
export WA_MAP="http://<your-server-hostname>:3000"
export WA_HOMEPAGE="http://<your-server-hostname>:4399"
export WA_FULL_RESET=""
